@page "/counter"
@using Microsoft.AspNetCore.Authorization;
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<AuthorizeView Policy="AvailableButtonCounter">
    <Authorized>
        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </Authorized>
</AuthorizeView>
<AuthorizeView Policy="AvailableButtonSort">
    <Authorized>
        <button class="btn btn-primary" @onclick="IncrementCount">Click me to sort</button>
    </Authorized>
</AuthorizeView>


@code {

    private int currentCount = 0;    

    private void IncrementCount()
    {
        currentCount++;
    }
}
