@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <a href="authentication/profile">Hello, @context.User.Identity?.Name!</a>
        <button class="nav-link btn btn-link" @onclick="logOutExternal">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Register</a>              
        <a href="/Home/Index">Log in</a>

    </NotAuthorized>
</AuthorizeView>

@code{
    private void logOutExternal()
    {
        //Navigation.NavigateTo("/pages/logoutExternal?returnurl=/", true);
        Navigation.NavigateTo("/pages/logoutexternal?returnurl=/", true);

    }       
}
